<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
  <title>Маршруты онлайн</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bus_online.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="{{ 'sidebar-open' if sidebar else '' }}">

  <header>
    <div class="header-content">
      <div class="site-title">
        <a href="#">Транспорт Курск</a>
      </div>
      <nav class="navigation">
        <ul>
          <li><a href="/home">Главная</a></li>
          <li><a href="/info">История</a></li>
          <li><a href="/work">Вакансии</a></li>
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('lk') }}">Личный кабинет</a></li>
            <li><a href="{{ url_for('bus_online') }}">Маршруты онлайн</a></li>
            <li><a href="{{ url_for('logout') }}">Выйти</a></li>
          {% else %}
            <li><a href="{{ url_for('login') }}">Войти</a></li>
            <li><a href="{{ url_for('register') }}">Регистрация</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="search-box">
        <input id="s" type="text" placeholder="Поиск">
        <button type="submit" class="search-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </header>
<div class="sidebar">
    <div class="sidebar-item">
        <i class="fas fa-home"></i>
        <span class="text"><a href="/home">Главная</a></span>
    </div>
    <div class="sidebar-item">
        <i class="fas fa-info-circle"></i>
        <span class="text"><a href="/history">История</a></span>
    </div>
    <div class="sidebar-item">
        <i class="fas fa-briefcase"></i>
        <span class="text"><a href="/work">Вакансии</a></span>
    </div>
    <div class="sidebar-item">
        <i class="fas fa-map-marker-alt"></i>
        <span class="text"><a href="/bus_online">Маршруты онлайн</a></span>
    </div>
    <div class="sidebar-item">
        <i class="fas fa-user-alt"></i>
        <span class="text"><a href="/lk">Личный кабинет</a></span>
    </div>
</div>

  <div class="conten">
    <div class="text1"><h1>Курский транспорт на карте онлайн</h1></div>
    <div class="map-container">
      <iframe id="blockrandom" name="iframe" src="https://map.kursk.dtpax.ru/#/51.730846,36.193015/14/38" width="100%" height="500" loading="lazy" title="Курский транспорт на карте онлайн"></iframe>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>

